.cabecalhoCatalogo{
    background-image: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    position: fixed;
    width: 100%;

}
.cabecalhoCatalogo > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}