{
  "openapi": "3.1.0",
  "info": {
    "title": "API Melhor Envio",
    "version": "unknown"
  },
  "servers": [
    {
      "url": "https://sandbox.melhorenvio.com.br/"
    }
  ],
  "components": {
    "securitySchemes": {}
  },
  "security": [
    {}
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "summary": "Solicitação do token",
        "description": "Autenticação",
        "operationId": "solicitacao-do-token",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "description": "É obrigatório que seja adicionado o cabeçalho HTTP User-Agent com o nome da sua aplicação junto a um email de contato/suporte.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Aplicação (email para contato técnico)"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type",
                  "client_id",
                  "client_secret",
                  "redirect_uri",
                  "code",
                  "refresh_token"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "description": "Tipo do modo de solicitação de token"
                  },
                  "client_id": {
                    "type": "integer",
                    "description": "Obtido após a criação do aplicativo no painel do Melhor Envio",
                    "format": "int32"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "O mesmo do aplicativo gerado no painel Melhor Envio"
                  },
                  "redirect_uri": {
                    "type": "string",
                    "description": "Deve ser estática e conforme configurada no app dentro do painel Melhor Envio"
                  },
                  "code": {
                    "type": "string",
                    "description": "Resposta da autenticação"
                  },
                  "refresh_token": {
                    "type": "string",
                    "description": "Obtido da resposta junto à solicitação de token"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Novo token gerado com sucesso": {
                    "value": "{\n  \"token_type\": \"Bearer\",\n  \"expires_in\": 2592000,\n  \"access_token\": \"eyJ0eXAiOiJKV...9FNA\",\n  \"refresh_token\": \"def502004257...b5ff\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "token_type": {
                      "type": "string",
                      "example": "Bearer"
                    },
                    "expires_in": {
                      "type": "integer",
                      "example": 2592000,
                      "default": 0
                    },
                    "access_token": {
                      "type": "string",
                      "example": "eyJ0eXAiOiJKV...9FNA"
                    },
                    "refresh_token": {
                      "type": "string",
                      "example": "def502004257...b5ff"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Dados informados incorretos": {
                    "value": "{\n  \"error\": \"invalid_client\",\n  \"error_description\": \"Client authentication failed\",\n  \"message\": \"Client authentication failed\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "invalid_client"
                    },
                    "error_description": {
                      "type": "string",
                      "example": "Client authentication failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Client authentication failed"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v2/me/shipment/app-settings": {
      "get": {
        "summary": "Listar informações de aplicativo",
        "description": "Autenticação",
        "operationId": "listar-informacoes-de-aplicativo",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer token"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "description": "É obritatório que seja adicionado o cabeçalho HTTP User-Agent com o nome da sua aplicação junto a um email de contato/suporte.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Aplicação (email para contato"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"settings\": {\n    \"weight\": 0.x,\n    \"collect\": true,\n    \"receipt\": false,\n    \"own_hand\": true,\n    \"services\": [\n      1,\n      2,\n      3,\n      4,\n      17\n    ],\n    \"addresses\": [],\n    \"dimensions\": {\n      \"width\": x,\n      \"height\": x,\n      \"length\": x\n    },\n    \"jadlog_agency\": 9xx,\n    \"insurance_value\": \"all\",\n    \"jadlog_agencies\": null,\n    \"delivery_time_extra\": 1x,\n    \"shipment_modify_type\": \"add-fixed\",\n    \"shipment_modify_value\": \"10.00\",\n    \"state_register_default\": \"1xxxxxxxxxxx\",\n    \"insurance_value_default\": \"9.xx\",\n    \"company_document_default\": \"1xxxxxxxxxxxxx\"\n  }\n}"
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"error\": true,\n  \"message\": \"Não há configurações salvas\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Não há configurações salvas"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/me/shipment/calculate": {
      "post": {
        "summary": "Cálculo de Fretes",
        "description": "Envios",
        "operationId": "calculo-de-fretes-por-produtos",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer token"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "description": "É obrigatório que seja adicionado o cabeçalho HTTP User-Agent com o nome da sua aplicação junto a um email de contato/suporte.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Aplicação (email para contato técnico)"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "from",
                  "to"
                ],
                "properties": {
                  "from": {
                    "type": "object",
                    "description": "Local de partida",
                    "required": [
                      "postal_code"
                    ],
                    "properties": {
                      "postal_code": {
                        "type": "string",
                        "description": "Cep Local de Partida"
                      }
                    }
                  },
                  "to": {
                    "type": "object",
                    "description": "Local de Recebimento",
                    "required": [
                      "postal_code"
                    ],
                    "properties": {
                      "postal_code": {
                        "type": "string",
                        "description": "Cep local de Recebimento"
                      }
                    }
                  },
                  "products": {
                    "type": "array",
                    "description": "Listagem dos produtos contidos no pacote",
                    "items": {
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Identificador do Produto"
                        },
                        "width": {
                          "type": "integer",
                          "description": "Largura",
                          "format": "int32"
                        },
                        "height": {
                          "type": "integer",
                          "description": "Altura",
                          "format": "int32"
                        },
                        "length": {
                          "type": "integer",
                          "description": "Comprimento",
                          "format": "int32"
                        },
                        "weight": {
                          "type": "number",
                          "description": "Peso",
                          "format": "float"
                        },
                        "insurance_value": {
                          "type": "number",
                          "description": "Valor do produto que será utilizado para o cálculo do seguro do frete",
                          "format": "float"
                        },
                        "quantity": {
                          "type": "integer",
                          "description": "Número de itens",
                          "format": "int32"
                        }
                      },
                      "required": [
                        "id",
                        "width",
                        "height",
                        "length",
                        "weight",
                        "insurance_value",
                        "quantity"
                      ],
                      "type": "object"
                    }
                  },
                  "options": {
                    "type": "object",
                    "description": "Opções de Serviços de Entrega",
                    "properties": {
                      "receipt": {
                        "type": "boolean",
                        "description": "Aviso de Recebimento"
                      },
                      "own_hand": {
                        "type": "boolean",
                        "description": "Mão Própria"
                      }
                    }
                  },
                  "volumes": {
                    "type": "array",
                    "description": "Atributos do objeto",
                    "items": {
                      "properties": {
                        "width": {
                          "type": "integer",
                          "description": "Largura",
                          "format": "int32"
                        },
                        "heigth": {
                          "type": "integer",
                          "description": "Altura",
                          "format": "int32"
                        },
                        "lenght": {
                          "type": "integer",
                          "description": "Comprimento",
                          "format": "int32"
                        },
                        "weight": {
                          "type": "number",
                          "description": "Peso",
                          "format": "float"
                        },
                        "insurance_value": {
                          "type": "number",
                          "description": "Valor do produto que será utilizado para o cálculo do seguro do frete",
                          "format": "float"
                        }
                      },
                      "required": [
                        "width",
                        "heigth",
                        "lenght",
                        "weight",
                        "insurance_value"
                      ],
                      "type": "object"
                    }
                  }
                }
              },
              "examples": {
                "calculo de frete produto": {
                  "value": {
                    "from": {
                      "postal_code": "96020360"
                    },
                    "to": {
                      "postal_code": "01018020"
                    },
                    "products": [
                      {
                        "id": "x",
                        "width": 11,
                        "height": 17,
                        "length": 11,
                        "weight": 0.3,
                        "insurance_value": 10.1,
                        "quantity": 1
                      },
                      {
                        "id": "y",
                        "width": 16,
                        "height": 25,
                        "length": 11,
                        "weight": 0.3,
                        "insurance_value": 55.05,
                        "quantity": 2
                      },
                      {
                        "id": "z",
                        "width": 22,
                        "height": 30,
                        "length": 11,
                        "weight": 1,
                        "insurance_value": 30,
                        "quantity": 1
                      }
                    ]
                  }
                },
                "calculo de frete pacote": {
                  "value": {
                    "from": {
                      "postal_code": "01002001"
                    },
                    "to": {
                      "postal_code": "90570020"
                    },
                    "package": {
                      "height": 4,
                      "width": 12,
                      "length": 17,
                      "weight": 0.3
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n  {\n    \"id\": 1,\n    \"name\": \"PAC\",\n    \"price\": \"37.79\",\n    \"custom_price\": \"37.79\",\n    \"discount\": \"2.09\",\n    \"currency\": \"R$\",\n    \"delivery_time\": 9,\n    \"delivery_range\": {\n      \"min\": 8,\n      \"max\": 9\n    },\n    \"custom_delivery_time\": 9,\n    \"custom_delivery_range\": {\n      \"min\": 8,\n      \"max\": 9\n    },\n    \"packages\": [\n      {\n        \"price\": \"37.79\",\n        \"discount\": \"2.09\",\n        \"format\": \"box\",\n        \"dimensions\": {\n          \"height\": 2,\n          \"width\": 11,\n          \"length\": 16\n        },\n        \"weight\": \"0.10\",\n        \"insurance_value\": \"50.00\",\n        \"products\": [\n          {\n            \"id\": \"pequeno\",\n            \"quantity\": 1\n          }\n        ]\n      }\n    ],\n    \"additional_services\": {\n      \"receipt\": true,\n      \"own_hand\": true,\n      \"collect\": false\n    },\n    \"company\": {\n      \"id\": 1,\n      \"name\": \"Correios\",\n      \"picture\": \"https://sandbox.melhorenvio.com.br/images/shipping-companies/correios.png\"\n    }\n  },\n  {\n    \"id\": 2,\n    \"name\": \"SEDEX\",\n    \"price\": \"46.23\",\n    \"custom_price\": \"46.23\",\n    \"discount\": \"3.95\",\n    \"currency\": \"R$\",\n    \"delivery_time\": 4,\n    \"delivery_range\": {\n      \"min\": 3,\n      \"max\": 4\n    },\n    \"custom_delivery_time\": 4,\n    \"custom_delivery_range\": {\n      \"min\": 3,\n      \"max\": 4\n    },\n    \"packages\": [\n      {\n        \"price\": \"46.23\",\n        \"discount\": \"3.95\",\n        \"format\": \"box\",\n        \"dimensions\": {\n          \"height\": 2,\n          \"width\": 11,\n          \"length\": 16\n        },\n        \"weight\": \"0.10\",\n        \"insurance_value\": \"50.00\",\n        \"products\": [\n          {\n            \"id\": \"pequeno\",\n            \"quantity\": 1\n          }\n        ]\n      }\n    ],\n    \"additional_services\": {\n      \"receipt\": true,\n      \"own_hand\": true,\n      \"collect\": false\n    },\n    \"company\": {\n      \"id\": 1,\n      \"name\": \"Correios\",\n      \"picture\": \"https://sandbox.melhorenvio.com.br/images/shipping-companies/correios.png\"\n    }\n  },\n  {\n    \"id\": 3,\n    \"name\": \".Package\",\n    \"price\": \"18.60\",\n    \"custom_price\": \"18.60\",\n    \"discount\": \"4.16\",\n    \"currency\": \"R$\",\n    \"delivery_time\": 6,\n    \"delivery_range\": {\n      \"min\": 5,\n      \"max\": 6\n    },\n    \"custom_delivery_time\": 6,\n    \"custom_delivery_range\": {\n      \"min\": 5,\n      \"max\": 6\n    },\n    \"packages\": [\n      {\n        \"format\": \"box\",\n        \"dimensions\": {\n          \"height\": 1,\n          \"width\": 1,\n          \"length\": 1\n        },\n        \"weight\": \"0.10\",\n        \"insurance_value\": \"50.00\",\n        \"products\": [\n          {\n            \"id\": \"pequeno\",\n            \"quantity\": 1\n          }\n        ]\n      }\n    ],\n    \"additional_services\": {\n      \"receipt\": true,\n      \"own_hand\": false,\n      \"collect\": false\n    },\n    \"company\": {\n      \"id\": 2,\n      \"name\": \"Jadlog\",\n      \"picture\": \"https://sandbox.melhorenvio.com.br/images/shipping-companies/jadlog.png\"\n    }\n  },\n  {\n    \"id\": 4,\n    \"name\": \".Com\",\n    \"price\": \"16.44\",\n    \"custom_price\": \"16.44\",\n    \"discount\": \"0.00\",\n    \"currency\": \"R$\",\n    \"delivery_time\": 5,\n    \"delivery_range\": {\n      \"min\": 4,\n      \"max\": 5\n    },\n    \"custom_delivery_time\": 5,\n    \"custom_delivery_range\": {\n      \"min\": 4,\n      \"max\": 5\n    },\n    \"packages\": [\n      {\n        \"format\": \"box\",\n        \"dimensions\": {\n          \"height\": 1,\n          \"width\": 1,\n          \"length\": 1\n        },\n        \"weight\": \"0.10\",\n        \"insurance_value\": \"50.00\",\n        \"products\": [\n          {\n            \"id\": \"pequeno\",\n            \"quantity\": 1\n          }\n        ]\n      }\n    ],\n    \"additional_services\": {\n      \"receipt\": true,\n      \"own_hand\": false,\n      \"collect\": false\n    },\n    \"company\": {\n      \"id\": 2,\n      \"name\": \"Jadlog\",\n      \"picture\": \"https://sandbox.melhorenvio.com.br/images/shipping-companies/jadlog.png\"\n    }\n  },\n  {\n    \"id\": 17,\n    \"name\": \"Mini Envios\",\n    \"price\": \"23.44\",\n    \"custom_price\": \"23.44\",\n    \"discount\": \"0.00\",\n    \"currency\": \"R$\",\n    \"delivery_time\": 11,\n    \"delivery_range\": {\n      \"min\": 10,\n      \"max\": 11\n    },\n    \"custom_delivery_time\": 11,\n    \"custom_delivery_range\": {\n      \"min\": 10,\n      \"max\": 11\n    },\n    \"packages\": [\n      {\n        \"price\": \"23.44\",\n        \"discount\": \"0.00\",\n        \"format\": \"box\",\n        \"dimensions\": {\n          \"height\": 1,\n          \"width\": 11,\n          \"length\": 16\n        },\n        \"weight\": \"0.10\",\n        \"insurance_value\": \"50.00\",\n        \"products\": [\n          {\n            \"id\": \"pequeno\",\n            \"quantity\": 1\n          }\n        ]\n      }\n    ],\n    \"additional_services\": {\n      \"receipt\": true,\n      \"own_hand\": false,\n      \"collect\": false\n    },\n    \"company\": {\n      \"id\": 1,\n      \"name\": \"Correios\",\n      \"picture\": \"https://sandbox.melhorenvio.com.br/images/shipping-companies/correios.png\"\n    }\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1,
                        "default": 0
                      },
                      "name": {
                        "type": "string",
                        "example": "PAC"
                      },
                      "price": {
                        "type": "string",
                        "example": "37.79"
                      },
                      "custom_price": {
                        "type": "string",
                        "example": "37.79"
                      },
                      "discount": {
                        "type": "string",
                        "example": "2.09"
                      },
                      "currency": {
                        "type": "string",
                        "example": "R$"
                      },
                      "delivery_time": {
                        "type": "integer",
                        "example": 9,
                        "default": 0
                      },
                      "delivery_range": {
                        "type": "object",
                        "properties": {
                          "min": {
                            "type": "integer",
                            "example": 8,
                            "default": 0
                          },
                          "max": {
                            "type": "integer",
                            "example": 9,
                            "default": 0
                          }
                        }
                      },
                      "custom_delivery_time": {
                        "type": "integer",
                        "example": 9,
                        "default": 0
                      },
                      "custom_delivery_range": {
                        "type": "object",
                        "properties": {
                          "min": {
                            "type": "integer",
                            "example": 8,
                            "default": 0
                          },
                          "max": {
                            "type": "integer",
                            "example": 9,
                            "default": 0
                          }
                        }
                      },
                      "packages": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "price": {
                              "type": "string",
                              "example": "37.79"
                            },
                            "discount": {
                              "type": "string",
                              "example": "2.09"
                            },
                            "format": {
                              "type": "string",
                              "example": "box"
                            },
                            "dimensions": {
                              "type": "object",
                              "properties": {
                                "height": {
                                  "type": "integer",
                                  "example": 2,
                                  "default": 0
                                },
                                "width": {
                                  "type": "integer",
                                  "example": 11,
                                  "default": 0
                                },
                                "length": {
                                  "type": "integer",
                                  "example": 16,
                                  "default": 0
                                }
                              }
                            },
                            "weight": {
                              "type": "string",
                              "example": "0.10"
                            },
                            "insurance_value": {
                              "type": "string",
                              "example": "50.00"
                            },
                            "products": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "example": "pequeno"
                                  },
                                  "quantity": {
                                    "type": "integer",
                                    "example": 1,
                                    "default": 0
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "additional_services": {
                        "type": "object",
                        "properties": {
                          "receipt": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "own_hand": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "collect": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          }
                        }
                      },
                      "company": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "name": {
                            "type": "string",
                            "example": "Correios"
                          },
                          "picture": {
                            "type": "string",
                            "example": "https://sandbox.melhorenvio.com.br/images/shipping-companies/correios.png"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"message\": \"The given data was invalid.\",\n  \"errors\": {\n    \"from.postal_code\": [\n      \"O campo from.postal code é obrigatório.\"\n    ],\n    \"to.postal_code\": [\n      \"O campo to.postal code é obrigatório.\"\n    ]\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "The given data was invalid."
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "from.postal_code": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "O campo from.postal code é obrigatório."
                          }
                        },
                        "to.postal_code": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "O campo to.postal code é obrigatório."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/me/cart": {
      "post": {
        "summary": "Inserir fretes no carrinho",
        "description": "Carrinho de Compras",
        "operationId": "inserir-fretes-no-carrinho",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer token"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "description": "É obrigatório que seja adicionado o cabeçalho HTTP User-Agent com o nome da sua aplicação junto a um email de contato/suporte.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Aplicação (email para contato técnico)"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "service",
                  "from",
                  "to",
                  "products",
                  "volumes"
                ],
                "properties": {
                  "service": {
                    "type": "integer",
                    "description": "Id referente do serviço da transportadora",
                    "format": "int32"
                  },
                  "agency": {
                    "type": "integer",
                    "description": "Id da agência/unidade onde será postado o envio (consultar regras das transportadoras)",
                    "format": "int32"
                  },
                  "from": {
                    "type": "object",
                    "description": "Informações do remetente do envio",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Nome"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Telefone"
                      },
                      "email": {
                        "type": "string",
                        "description": "E-mail"
                      },
                      "document": {
                        "type": "string",
                        "description": "CPF"
                      },
                      "company_document": {
                        "type": "string",
                        "description": "CNPJ"
                      },
                      "state_register": {
                        "type": "string",
                        "description": "Inscrição Estadual"
                      },
                      "address": {
                        "type": "string",
                        "description": "Logradouro"
                      },
                      "complement": {
                        "type": "string",
                        "description": "Complemento"
                      },
                      "number": {
                        "type": "string",
                        "description": "Número"
                      },
                      "district": {
                        "type": "string",
                        "description": "Bairro"
                      },
                      "city": {
                        "type": "string",
                        "description": "Cidade"
                      },
                      "country_id": {
                        "type": "string",
                        "description": "País"
                      },
                      "postal_code": {
                        "type": "string",
                        "description": "Cep"
                      },
                      "state_abbr": {
                        "type": "string",
                        "description": "Estado"
                      },
                      "note": {
                        "type": "string",
                        "description": "Observação"
                      }
                    }
                  },
                  "to": {
                    "type": "object",
                    "description": "Informações do destinatário do envio",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Nome"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Telefone"
                      },
                      "email": {
                        "type": "string",
                        "description": "E-mail"
                      },
                      "document": {
                        "type": "string",
                        "description": "CPF"
                      },
                      "company_document": {
                        "type": "string",
                        "description": "CNPJ"
                      },
                      "state_register": {
                        "type": "string",
                        "description": "Inscrição Estadual"
                      },
                      "address": {
                        "type": "string",
                        "description": "Logradouro"
                      },
                      "complement": {
                        "type": "string",
                        "description": "Complemento"
                      },
                      "number": {
                        "type": "string",
                        "description": "Número"
                      },
                      "district": {
                        "type": "string",
                        "description": "Bairro"
                      },
                      "city": {
                        "type": "string",
                        "description": "Cidade"
                      },
                      "country_id": {
                        "type": "string",
                        "description": "País"
                      },
                      "postal_code": {
                        "type": "string",
                        "description": "Cep"
                      },
                      "state_abbr": {
                        "type": "string",
                        "description": "Estado"
                      },
                      "note": {
                        "type": "string",
                        "description": "Observação"
                      }
                    }
                  },
                  "products": {
                    "type": "array",
                    "description": "Informações dos produtos que serão enviados (utilizado na declaração de conteúdo)",
                    "items": {
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Nome"
                        },
                        "quantity": {
                          "type": "string",
                          "description": "Quantidade"
                        },
                        "unitary_value": {
                          "type": "string",
                          "description": "Valor Unitário"
                        }
                      },
                      "required": [
                        "name"
                      ],
                      "type": "object"
                    }
                  },
                  "volumes": {
                    "type": "array",
                    "description": "Descrição dos volumes contidos no envio",
                    "items": {
                      "properties": {
                        "height": {
                          "type": "integer",
                          "description": "Altura",
                          "format": "int32"
                        },
                        "width": {
                          "type": "integer",
                          "description": "Largura",
                          "format": "int32"
                        },
                        "length": {
                          "type": "integer",
                          "description": "Comprimento",
                          "format": "int32"
                        },
                        "weight": {
                          "type": "number",
                          "description": "Peso",
                          "format": "float"
                        }
                      },
                      "required": [
                        "height",
                        "width",
                        "length",
                        "weight"
                      ],
                      "type": "object"
                    }
                  },
                  "options": {
                    "type": "object",
                    "description": "Informações complementares do envio",
                    "required": [
                      "insurance_value",
                      "receipt",
                      "own_hand",
                      "reverse",
                      "non_commercial"
                    ],
                    "properties": {
                      "insurance_value": {
                        "type": "number",
                        "description": "Valor Segurado",
                        "format": "double"
                      },
                      "receipt": {
                        "type": "boolean",
                        "description": "Flag para setar o serviço adicional de Aviso de Recebimento,"
                      },
                      "own_hand": {
                        "type": "boolean",
                        "description": "Flag para setar o serviço  adicional de Mãos Próprias"
                      },
                      "reverse": {
                        "type": "boolean",
                        "description": "Flag para identificar o envio como Envio reverso"
                      },
                      "non_commercial": {
                        "type": "boolean",
                        "description": "Flag para identificar o envio como um Envio não comercial"
                      },
                      "invoice": {
                        "type": "object",
                        "required": [
                          "key"
                        ],
                        "properties": {
                          "key": {
                            "type": "string",
                            "description": "Chave da Nota Fiscal"
                          }
                        }
                      },
                      "plataform": {
                        "type": "string"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "properties": {
                            "tag": {
                              "type": "string",
                              "description": "Identificação do pedido na plataforma"
                            },
                            "Url": {
                              "type": "string",
                              "description": "Url da plataforma"
                            }
                          },
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"id\": \"10b87ac0-e99d-4aa4-b8b0-b147a84e16bf\",\n  \"protocol\": \"ORD-20220397305\",\n  \"service_id\": 3,\n  \"agency_id\": 48,\n  \"contract\": null,\n  \"service_code\": null,\n  \"quote\": 25.35,\n  \"price\": 25.35,\n  \"coupon\": null,\n  \"discount\": 5.71,\n  \"delivery_min\": 5,\n  \"delivery_max\": 6,\n  \"status\": \"pending\",\n  \"reminder\": null,\n  \"insurance_value\": 50,\n  \"weight\": null,\n  \"width\": null,\n  \"height\": null,\n  \"length\": null,\n  \"diameter\": null,\n  \"format\": \"box\",\n  \"billed_weight\": 3.5,\n  \"receipt\": false,\n  \"own_hand\": false,\n  \"collect\": false,\n  \"collect_scheduled_at\": null,\n  \"reverse\": false,\n  \"non_commercial\": true,\n  \"authorization_code\": null,\n  \"tracking\": null,\n  \"self_tracking\": null,\n  \"delivery_receipt\": null,\n  \"additional_info\": null,\n  \"cte_key\": null,\n  \"paid_at\": null,\n  \"generated_at\": null,\n  \"posted_at\": null,\n  \"delivered_at\": null,\n  \"canceled_at\": null,\n  \"suspended_at\": null,\n  \"expired_at\": null,\n  \"created_at\": \"2022-03-29 12:50:19\",\n  \"updated_at\": \"2022-03-29 12:50:19\",\n  \"parse_pi_at\": null,\n  \"products\": [\n    {\n      \"name\": \"Papel adesivo para etiquetas 1\",\n      \"quantity\": 3,\n      \"unitary_value\": 100,\n      \"weight\": null\n    },\n    {\n      \"name\": \"Papel adesivo para etiquetas 2\",\n      \"quantity\": 1,\n      \"unitary_value\": 700,\n      \"weight\": null\n    }\n  ],\n  \"volumes\": [\n    {\n      \"id\": 101594,\n      \"height\": \"10.00\",\n      \"width\": \"15.00\",\n      \"length\": \"20.00\",\n      \"diameter\": \"0.00\",\n      \"weight\": \"3.50\",\n      \"format\": \"box\",\n      \"created_at\": \"2022-03-29 12:50:19\",\n      \"updated_at\": \"2022-03-29 12:50:19\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "10b87ac0-e99d-4aa4-b8b0-b147a84e16bf"
                    },
                    "protocol": {
                      "type": "string",
                      "example": "ORD-20220397305"
                    },
                    "service_id": {
                      "type": "integer",
                      "example": 3,
                      "default": 0
                    },
                    "agency_id": {
                      "type": "integer",
                      "example": 48,
                      "default": 0
                    },
                    "contract": {},
                    "service_code": {},
                    "quote": {
                      "type": "number",
                      "example": 25.35,
                      "default": 0
                    },
                    "price": {
                      "type": "number",
                      "example": 25.35,
                      "default": 0
                    },
                    "coupon": {},
                    "discount": {
                      "type": "number",
                      "example": 5.71,
                      "default": 0
                    },
                    "delivery_min": {
                      "type": "integer",
                      "example": 5,
                      "default": 0
                    },
                    "delivery_max": {
                      "type": "integer",
                      "example": 6,
                      "default": 0
                    },
                    "status": {
                      "type": "string",
                      "example": "pending"
                    },
                    "reminder": {},
                    "insurance_value": {
                      "type": "integer",
                      "example": 50,
                      "default": 0
                    },
                    "weight": {},
                    "width": {},
                    "height": {},
                    "length": {},
                    "diameter": {},
                    "format": {
                      "type": "string",
                      "example": "box"
                    },
                    "billed_weight": {
                      "type": "number",
                      "example": 3.5,
                      "default": 0
                    },
                    "receipt": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "own_hand": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "collect": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "collect_scheduled_at": {},
                    "reverse": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "non_commercial": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "authorization_code": {},
                    "tracking": {},
                    "self_tracking": {},
                    "delivery_receipt": {},
                    "additional_info": {},
                    "cte_key": {},
                    "paid_at": {},
                    "generated_at": {},
                    "posted_at": {},
                    "delivered_at": {},
                    "canceled_at": {},
                    "suspended_at": {},
                    "expired_at": {},
                    "created_at": {
                      "type": "string",
                      "example": "2022-03-29 12:50:19"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2022-03-29 12:50:19"
                    },
                    "parse_pi_at": {},
                    "products": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "Papel adesivo para etiquetas 1"
                          },
                          "quantity": {
                            "type": "integer",
                            "example": 3,
                            "default": 0
                          },
                          "unitary_value": {
                            "type": "integer",
                            "example": 100,
                            "default": 0
                          },
                          "weight": {}
                        }
                      }
                    },
                    "volumes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 101594,
                            "default": 0
                          },
                          "height": {
                            "type": "string",
                            "example": "10.00"
                          },
                          "width": {
                            "type": "string",
                            "example": "15.00"
                          },
                          "length": {
                            "type": "string",
                            "example": "20.00"
                          },
                          "diameter": {
                            "type": "string",
                            "example": "0.00"
                          },
                          "weight": {
                            "type": "string",
                            "example": "3.50"
                          },
                          "format": {
                            "type": "string",
                            "example": "box"
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2022-03-29 12:50:19"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2022-03-29 12:50:19"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"error\": {\n    \"volumes\": [\n      [\n        \"Peso do pacote 1 não informado\",\n        \"Altura do pacote 1 não informada\",\n        \"Largura do pacote 1 não informada\",\n        \"Comprimento do pacote 1 não informado\"\n      ]\n    ]\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "volumes": {
                          "type": "array",
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "Peso do pacote 1 não informado"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "summary": "Listar itens do carrinho",
        "description": "Carrinho de Compras",
        "operationId": "listar-itens-do-carrinho",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer token"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "description": "É obritatório que seja adicionado o cabeçalho HTTP User-Agent com o nome da sua aplicação junto a um email de contato/suporte.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Aplicação (email para contato técnico)"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"current_page\": 1,\n  \"data\": [\n    {\n      \"id\": \"4d9a896c-9057-490d-94ea-abb23565463c\",\n      \"protocol\": \"ORD-20220397315\",\n      \"service_id\": 2,\n      \"agency_id\": null,\n      \"contract\": \"9912415671\",\n      \"service_code\": null,\n      \"quote\": 50.93,\n      \"price\": 50.93,\n      \"coupon\": null,\n      \"discount\": 10.95,\n      \"delivery_min\": 3,\n      \"delivery_max\": 4,\n      \"status\": \"pending\",\n      \"reminder\": null,\n      \"insurance_value\": 50,\n      \"weight\": null,\n      \"width\": null,\n      \"height\": null,\n      \"length\": null,\n      \"diameter\": null,\n      \"format\": \"box\",\n      \"billed_weight\": 3.5,\n      \"receipt\": false,\n      \"own_hand\": false,\n      \"collect\": false,\n      \"collect_scheduled_at\": null,\n      \"reverse\": false,\n      \"non_commercial\": false,\n      \"authorization_code\": null,\n      \"tracking\": null,\n      \"self_tracking\": null,\n      \"delivery_receipt\": null,\n      \"additional_info\": null,\n      \"cte_key\": null,\n      \"paid_at\": null,\n      \"generated_at\": null,\n      \"posted_at\": null,\n      \"delivered_at\": null,\n      \"canceled_at\": null,\n      \"suspended_at\": null,\n      \"expired_at\": null,\n      \"created_at\": \"2022-03-29 13:17:46\",\n      \"updated_at\": \"2022-03-29 13:17:46\",\n      \"parse_pi_at\": null,\n      \"from\": {\n        \"name\": \"Teste ME\",\n        \"phone\": \"5598105050\",\n        \"email\": \"melhorenvio@teste.com\",\n        \"document\": \"16571478358\",\n        \"company_document\": \"04517623000197\",\n        \"state_register\": \"563025255115\",\n        \"postal_code\": \"7110000\",\n        \"address\": \"Rua Teste\",\n        \"location_number\": \"100\",\n        \"complement\": \"CASA\",\n        \"district\": \"Bairro Teste\",\n        \"city\": \"Guarulhos\",\n        \"state_abbr\": \"SP\",\n        \"country_id\": \"BR\",\n        \"latitude\": null,\n        \"longitude\": null,\n        \"note\": \"Teste ME\"\n      },\n      \"to\": {\n        \"name\": \"ME Teste\",\n        \"phone\": \"1999999999\",\n        \"email\": \"melhorenvio@teste.com\",\n        \"document\": \"73646548010\",\n        \"company_document\": \"89794131000100\",\n        \"state_register\": \"123456\",\n        \"postal_code\": \"26210000\",\n        \"address\": \"Avenida Marechal Floriano Peixoto\",\n        \"location_number\": \"123\",\n        \"complement\": \"Ap 2\",\n        \"district\": \"Centro\",\n        \"city\": \"Nova Iguacu\",\n        \"state_abbr\": \"RJ\",\n        \"country_id\": \"BR\",\n        \"latitude\": null,\n        \"longitude\": null,\n        \"note\": \"ME Teste\"\n      },\n      \"service\": {\n        \"id\": 2,\n        \"name\": \"SEDEX\",\n        \"status\": \"available\",\n        \"type\": \"express\",\n        \"range\": \"interstate\",\n        \"restrictions\": \"{\\\"insurance_value\\\":{\\\"min\\\":0,\\\"max\\\":10000},\\\"formats\\\":{\\\"box\\\":{\\\"weight\\\":{\\\"min\\\":0.001,\\\"max\\\":30},\\\"width\\\":{\\\"min\\\":11,\\\"max\\\":105},\\\"height\\\":{\\\"min\\\":2,\\\"max\\\":105},\\\"length\\\":{\\\"min\\\":16,\\\"max\\\":105},\\\"sum\\\":200},\\\"roll\\\":{\\\"weight\\\":{\\\"min\\\":0.001,\\\"max\\\":30},\\\"diameter\\\":{\\\"min\\\":5,\\\"max\\\":91},\\\"length\\\":{\\\"min\\\":18,\\\"max\\\":105},\\\"sum\\\":200},\\\"letter\\\":{\\\"weight\\\":{\\\"min\\\":0.001,\\\"max\\\":0.5},\\\"width\\\":{\\\"min\\\":11,\\\"max\\\":60},\\\"length\\\":{\\\"min\\\":16,\\\"max\\\":60}}}}\",\n        \"requirements\": \"[\\\"names\\\",\\\"addresses\\\"]\",\n        \"optionals\": \"[\\\"AR\\\",\\\"MP\\\",\\\"VD\\\"]\",\n        \"company\": {\n          \"id\": 1,\n          \"name\": \"Correios\",\n          \"status\": \"available\",\n          \"picture\": \"/images/shipping-companies/correios.png\",\n          \"use_own_contract\": false\n        }\n      },\n      \"agency\": null,\n      \"invoice\": {\n        \"model\": null,\n        \"number\": null,\n        \"serie\": \"1\",\n        \"key\": null,\n        \"value\": null,\n        \"cfop\": null,\n        \"issued_at\": null,\n        \"uploaded_at\": null,\n        \"to_document\": null\n      },\n      \"tags\": [],\n      \"products\": [\n        {\n          \"name\": \"Papel adesivo para etiquetas 1\",\n          \"quantity\": 3,\n          \"unitary_value\": 100,\n          \"weight\": null\n        },\n        {\n          \"name\": \"Papel adesivo para etiquetas 2\",\n          \"quantity\": 1,\n          \"unitary_value\": 700,\n          \"weight\": null\n        }\n      ],\n      \"generated_key\": null,\n      \"volumes\": [\n        {\n          \"id\": 101604,\n          \"height\": \"10.00\",\n          \"width\": \"15.00\",\n          \"length\": \"20.00\",\n          \"diameter\": \"0.00\",\n          \"weight\": \"3.50\",\n          \"format\": \"box\",\n          \"created_at\": \"2022-03-29 13:17:46\",\n          \"updated_at\": \"2022-03-29 13:17:46\"\n        }\n      ]\n    },\n    {\n      \"id\": \"b1ad6622-50b0-4e96-b395-730544e60085\",\n      \"protocol\": \"ORD-20220397314\",\n      \"service_id\": 2,\n      \"agency_id\": null,\n      \"contract\": \"9912415671\",\n      \"service_code\": null,\n      \"quote\": 50.93,\n      \"price\": 50.93,\n      \"coupon\": null,\n      \"discount\": 10.95,\n      \"delivery_min\": 3,\n      \"delivery_max\": 4,\n      \"status\": \"pending\",\n      \"reminder\": null,\n      \"insurance_value\": 50,\n      \"weight\": null,\n      \"width\": null,\n      \"height\": null,\n      \"length\": null,\n      \"diameter\": null,\n      \"format\": \"box\",\n      \"billed_weight\": 3.5,\n      \"receipt\": false,\n      \"own_hand\": false,\n      \"collect\": false,\n      \"collect_scheduled_at\": null,\n      \"reverse\": false,\n      \"non_commercial\": false,\n      \"authorization_code\": null,\n      \"tracking\": null,\n      \"self_tracking\": null,\n      \"delivery_receipt\": null,\n      \"additional_info\": null,\n      \"cte_key\": null,\n      \"paid_at\": null,\n      \"generated_at\": null,\n      \"posted_at\": null,\n      \"delivered_at\": null,\n      \"canceled_at\": null,\n      \"suspended_at\": null,\n      \"expired_at\": null,\n      \"created_at\": \"2022-03-29 13:16:21\",\n      \"updated_at\": \"2022-03-29 13:16:21\",\n      \"parse_pi_at\": null,\n      \"from\": {\n        \"name\": \"Teste ME\",\n        \"phone\": \"5598105050\",\n        \"email\": \"melhorenvio@teste.com\",\n        \"document\": \"16571478358\",\n        \"company_document\": \"04517623000197\",\n        \"state_register\": \"563025255115\",\n        \"postal_code\": \"7110000\",\n        \"address\": \"Rua Teste\",\n        \"location_number\": \"100\",\n        \"complement\": \"CASA\",\n        \"district\": \"Bairro Teste\",\n        \"city\": \"Guarulhos\",\n        \"state_abbr\": \"SP\",\n        \"country_id\": \"BR\",\n        \"latitude\": null,\n        \"longitude\": null,\n        \"note\": \"Teste ME\"\n      },\n      \"to\": {\n        \"name\": \"ME Teste\",\n        \"phone\": \"1999999999\",\n        \"email\": \"melhorenvio@teste.com\",\n        \"document\": \"73646548010\",\n        \"company_document\": \"89794131000100\",\n        \"state_register\": \"123456\",\n        \"postal_code\": \"26210000\",\n        \"address\": \"Avenida Marechal Floriano Peixoto\",\n        \"location_number\": \"123\",\n        \"complement\": \"Ap 2\",\n        \"district\": \"Centro\",\n        \"city\": \"Nova Iguacu\",\n        \"state_abbr\": \"RJ\",\n        \"country_id\": \"BR\",\n        \"latitude\": null,\n        \"longitude\": null,\n        \"note\": \"ME Teste\"\n      },\n      \"service\": {\n        \"id\": 2,\n        \"name\": \"SEDEX\",\n        \"status\": \"available\",\n        \"type\": \"express\",\n        \"range\": \"interstate\",\n        \"restrictions\": \"{\\\"insurance_value\\\":{\\\"min\\\":0,\\\"max\\\":10000},\\\"formats\\\":{\\\"box\\\":{\\\"weight\\\":{\\\"min\\\":0.001,\\\"max\\\":30},\\\"width\\\":{\\\"min\\\":11,\\\"max\\\":105},\\\"height\\\":{\\\"min\\\":2,\\\"max\\\":105},\\\"length\\\":{\\\"min\\\":16,\\\"max\\\":105},\\\"sum\\\":200},\\\"roll\\\":{\\\"weight\\\":{\\\"min\\\":0.001,\\\"max\\\":30},\\\"diameter\\\":{\\\"min\\\":5,\\\"max\\\":91},\\\"length\\\":{\\\"min\\\":18,\\\"max\\\":105},\\\"sum\\\":200},\\\"letter\\\":{\\\"weight\\\":{\\\"min\\\":0.001,\\\"max\\\":0.5},\\\"width\\\":{\\\"min\\\":11,\\\"max\\\":60},\\\"length\\\":{\\\"min\\\":16,\\\"max\\\":60}}}}\",\n        \"requirements\": \"[\\\"names\\\",\\\"addresses\\\"]\",\n        \"optionals\": \"[\\\"AR\\\",\\\"MP\\\",\\\"VD\\\"]\",\n        \"company\": {\n          \"id\": 1,\n          \"name\": \"Correios\",\n          \"status\": \"available\",\n          \"picture\": \"/images/shipping-companies/correios.png\",\n          \"use_own_contract\": false\n        }\n      },\n      \"agency\": null,\n      \"invoice\": null,\n      \"tags\": [],\n      \"products\": [\n        {\n          \"name\": \"Papel adesivo para etiquetas 1\",\n          \"quantity\": 3,\n          \"unitary_value\": 100,\n          \"weight\": null\n        },\n        {\n          \"name\": \"Papel adesivo para etiquetas 2\",\n          \"quantity\": 1,\n          \"unitary_value\": 700,\n          \"weight\": null\n        }\n      ],\n      \"generated_key\": null,\n      \"volumes\": [\n        {\n          \"id\": 101603,\n          \"height\": \"10.00\",\n          \"width\": \"15.00\",\n          \"length\": \"20.00\",\n          \"diameter\": \"0.00\",\n          \"weight\": \"3.50\",\n          \"format\": \"box\",\n          \"created_at\": \"2022-03-29 13:16:21\",\n          \"updated_at\": \"2022-03-29 13:16:21\"\n        }\n      ]\n    },\n    {\n      \"id\": \"2ec18ace-9bee-4c39-85e0-19a6aee67d2a\",\n      \"protocol\": \"ORD-20220397313\",\n      \"service_id\": 3,\n      \"agency_id\": 49,\n      \"contract\": null,\n      \"service_code\": null,\n      \"quote\": 25.35,\n      \"price\": 25.35,\n      \"coupon\": null,\n      \"discount\": 5.71,\n      \"delivery_min\": 5,\n      \"delivery_max\": 6,\n      \"status\": \"pending\",\n      \"reminder\": null,\n      \"insurance_value\": 50,\n      \"weight\": null,\n      \"width\": null,\n      \"height\": null,\n      \"length\": null,\n      \"diameter\": null,\n      \"format\": \"box\",\n      \"billed_weight\": 3.5,\n      \"receipt\": false,\n      \"own_hand\": false,\n      \"collect\": false,\n      \"collect_scheduled_at\": null,\n      \"reverse\": false,\n      \"non_commercial\": false,\n      \"authorization_code\": null,\n      \"tracking\": null,\n      \"self_tracking\": null,\n      \"delivery_receipt\": null,\n      \"additional_info\": null,\n      \"cte_key\": null,\n      \"paid_at\": null,\n      \"generated_at\": null,\n      \"posted_at\": null,\n      \"delivered_at\": null,\n      \"canceled_at\": null,\n      \"suspended_at\": null,\n      \"expired_at\": null,\n      \"created_at\": \"2022-03-29 13:15:49\",\n      \"updated_at\": \"2022-03-29 13:15:49\",\n      \"parse_pi_at\": null,\n      \"from\": {\n        \"name\": \"Teste Magento\",\n        \"phone\": \"5598105050\",\n        \"email\": \"melhorenvio@teste.com\",\n        \"document\": \"16571478358\",\n        \"company_document\": \"04517623000197\",\n        \"state_register\": \"563025255115\",\n        \"postal_code\": \"7110000\",\n        \"address\": \"Rua Teste\",\n        \"location_number\": \"100\",\n        \"complement\": \"CASA\",\n        \"district\": \"Bairro Teste\",\n        \"city\": \"Guarulhos\",\n        \"state_abbr\": \"SP\",\n        \"country_id\": \"BR\",\n        \"latitude\": null,\n        \"longitude\": null,\n        \"note\": \"observação\"\n      },\n      \"to\": {\n        \"name\": \"Melhor Envio\",\n        \"phone\": \"1999999999\",\n        \"email\": \"melhorenvio@teste.com\",\n        \"document\": \"73646548010\",\n        \"company_document\": \"89794131000100\",\n        \"state_register\": \"123456\",\n        \"postal_code\": \"26210000\",\n        \"address\": \"Avenida Marechal Floriano Peixoto\",\n        \"location_number\": \"123\",\n        \"complement\": \"Ap 2\",\n        \"district\": \"Centro\",\n        \"city\": \"Nova Iguacu\",\n        \"state_abbr\": \"RJ\",\n        \"country_id\": \"BR\",\n        \"latitude\": null,\n        \"longitude\": null,\n        \"note\": \"observação\"\n      },\n      \"service\": {\n        \"id\": 3,\n        \"name\": \".Package\",\n        \"status\": \"available\",\n        \"type\": \"normal\",\n        \"range\": \"interstate\",\n        \"restrictions\": \"{\\\"insurance_value\\\":{\\\"min\\\":0,\\\"max\\\":29900},\\\"formats\\\":{\\\"box\\\":{\\\"weight\\\":{\\\"min\\\":0.001,\\\"max\\\":120},\\\"width\\\":{\\\"min\\\":1,\\\"max\\\":105},\\\"height\\\":{\\\"min\\\":1,\\\"max\\\":100},\\\"length\\\":{\\\"min\\\":1,\\\"max\\\":181},\\\"sum\\\":386}}}\",\n        \"requirements\": \"[\\\"names\\\",\\\"phones\\\",\\\"addresses\\\",\\\"documents\\\",\\\"invoice\\\"]\",\n        \"optionals\": \"[\\\"AR\\\",\\\"VD\\\"]\",\n        \"company\": {\n          \"id\": 2,\n          \"name\": \"Jadlog\",\n          \"status\": \"available\",\n          \"picture\": \"/images/shipping-companies/jadlog.png\",\n          \"use_own_contract\": false\n        }\n      },\n      \"agency\": {\n        \"id\": 49,\n        \"company_id\": 2,\n        \"name\": \"CO MIRASSOL 01 \",\n        \"initials\": \"CO-MSL-01\",\n        \"code\": \"1008588\",\n        \"status\": \"available\",\n        \"company_name\": \"RODOZELLI EXPRESS LTDA ME\",\n        \"email\": \"bozelli.msl@jadlog.com.br\",\n        \"note\": null,\n        \"created_at\": \"2017-09-11 17:47:14\",\n        \"updated_at\": \"2018-03-12 23:48:11\",\n        \"address\": {\n          \"id\": 49,\n          \"label\": \"Agência JadLog\",\n          \"postal_code\": \"15130000\",\n          \"address\": \"Rua Frei Antonio Zimmermann 2020\",\n          \"number\": null,\n          \"complement\": null,\n          \"district\": \"Jardim Alvorada\",\n          \"latitude\": -20.8201453,\n          \"longitude\": -49.4951883,\n          \"confirmed_at\": null,\n          \"created_at\": \"2017-09-11 17:47:14\",\n          \"updated_at\": \"2017-10-19 16:47:34\",\n          \"city\": {\n            \"id\": 5047,\n            \"city\": \"Mirassol\",\n            \"state\": {\n              \"id\": 25,\n              \"state\": \"São Paulo\",\n              \"state_abbr\": \"SP\",\n              \"country\": {\n                \"id\": \"BR\",\n                \"country\": \"Brazil\"\n              }\n            }\n          }\n        },\n        \"phone\": {\n          \"id\": 49,\n          \"label\": \"Agência JadLog\",\n          \"phone\": \"1732532042\",\n          \"type\": \"fixed\",\n          \"country_id\": \"BR\",\n          \"confirmed_at\": null,\n          \"created_at\": \"2017-09-11 17:47:14\",\n          \"updated_at\": \"2017-09-11 17:47:14\"\n        }\n      },\n      \"invoice\": {\n        \"model\": \"55\",\n        \"number\": \"9248\",\n        \"serie\": \"1\",\n        \"key\": \"31190307586261000184550010000092481404848162\",\n        \"value\": null,\n        \"cfop\": null,\n        \"issued_at\": \"2019-03-01 00:00:00\",\n        \"uploaded_at\": null,\n        \"to_document\": null\n      },\n      \"tags\": [],\n      \"products\": [\n        {\n          \"name\": \"Papel adesivo para etiquetas 1\",\n          \"quantity\": 3,\n          \"unitary_value\": 100,\n          \"weight\": null\n        },\n        {\n          \"name\": \"Papel adesivo para etiquetas 2\",\n          \"quantity\": 1,\n          \"unitary_value\": 700,\n          \"weight\": null\n        }\n      ],\n      \"generated_key\": null,\n      \"volumes\": [\n        {\n          \"id\": 101602,\n          \"height\": \"10.00\",\n          \"width\": \"15.00\",\n          \"length\": \"20.00\",\n          \"diameter\": \"0.00\",\n          \"weight\": \"3.50\",\n          \"format\": \"box\",\n          \"created_at\": \"2022-03-29 13:15:49\",\n          \"updated_at\": \"2022-03-29 13:15:49\"\n        }\n      ]\n    }\n  ],\n  \"first_page_url\": \"https://sandbox.melhorenvio.com.br/api/v2/me/cart?page=1\",\n  \"from\": 1,\n  \"last_page\": 1,\n  \"last_page_url\": \"https://sandbox.melhorenvio.com.br/api/v2/me/cart?page=1\",\n  \"next_page_url\": null,\n  \"path\": \"https://sandbox.melhorenvio.com.br/api/v2/me/cart\",\n  \"per_page\": 10,\n  \"prev_page_url\": null,\n  \"to\": 3,\n  \"total\": 3\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "current_page": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "4d9a896c-9057-490d-94ea-abb23565463c"
                          },
                          "protocol": {
                            "type": "string",
                            "example": "ORD-20220397315"
                          },
                          "service_id": {
                            "type": "integer",
                            "example": 2,
                            "default": 0
                          },
                          "agency_id": {},
                          "contract": {
                            "type": "string",
                            "example": "9912415671"
                          },
                          "service_code": {},
                          "quote": {
                            "type": "number",
                            "example": 50.93,
                            "default": 0
                          },
                          "price": {
                            "type": "number",
                            "example": 50.93,
                            "default": 0
                          },
                          "coupon": {},
                          "discount": {
                            "type": "number",
                            "example": 10.95,
                            "default": 0
                          },
                          "delivery_min": {
                            "type": "integer",
                            "example": 3,
                            "default": 0
                          },
                          "delivery_max": {
                            "type": "integer",
                            "example": 4,
                            "default": 0
                          },
                          "status": {
                            "type": "string",
                            "example": "pending"
                          },
                          "reminder": {},
                          "insurance_value": {
                            "type": "integer",
                            "example": 50,
                            "default": 0
                          },
                          "weight": {},
                          "width": {},
                          "height": {},
                          "length": {},
                          "diameter": {},
                          "format": {
                            "type": "string",
                            "example": "box"
                          },
                          "billed_weight": {
                            "type": "number",
                            "example": 3.5,
                            "default": 0
                          },
                          "receipt": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "own_hand": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "collect": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "collect_scheduled_at": {},
                          "reverse": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "non_commercial": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "authorization_code": {},
                          "tracking": {},
                          "self_tracking": {},
                          "delivery_receipt": {},
                          "additional_info": {},
                          "cte_key": {},
                          "paid_at": {},
                          "generated_at": {},
                          "posted_at": {},
                          "delivered_at": {},
                          "canceled_at": {},
                          "suspended_at": {},
                          "expired_at": {},
                          "created_at": {
                            "type": "string",
                            "example": "2022-03-29 13:17:46"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2022-03-29 13:17:46"
                          },
                          "parse_pi_at": {},
                          "from": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "example": "Teste ME"
                              },
                              "phone": {
                                "type": "string",
                                "example": "5598105050"
                              },
                              "email": {
                                "type": "string",
                                "example": "melhorenvio@teste.com"
                              },
                              "document": {
                                "type": "string",
                                "example": "16571478358"
                              },
                              "company_document": {
                                "type": "string",
                                "example": "04517623000197"
                              },
                              "state_register": {
                                "type": "string",
                                "example": "563025255115"
                              },
                              "postal_code": {
                                "type": "string",
                                "example": "7110000"
                              },
                              "address": {
                                "type": "string",
                                "example": "Rua Teste"
                              },
                              "location_number": {
                                "type": "string",
                                "example": "100"
                              },
                              "complement": {
                                "type": "string",
                                "example": "CASA"
                              },
                              "district": {
                                "type": "string",
                                "example": "Bairro Teste"
                              },
                              "city": {
                                "type": "string",
                                "example": "Guarulhos"
                              },
                              "state_abbr": {
                                "type": "string",
                                "example": "SP"
                              },
                              "country_id": {
                                "type": "string",
                                "example": "BR"
                              },
                              "latitude": {},
                              "longitude": {},
                              "note": {
                                "type": "string",
                                "example": "Teste ME"
                              }
                            }
                          },
                          "to": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "example": "ME Teste"
                              },
                              "phone": {
                                "type": "string",
                                "example": "1999999999"
                              },
                              "email": {
                                "type": "string",
                                "example": "melhorenvio@teste.com"
                              },
                              "document": {
                                "type": "string",
                                "example": "73646548010"
                              },
                              "company_document": {
                                "type": "string",
                                "example": "89794131000100"
                              },
                              "state_register": {
                                "type": "string",
                                "example": "123456"
                              },
                              "postal_code": {
                                "type": "string",
                                "example": "26210000"
                              },
                              "address": {
                                "type": "string",
                                "example": "Avenida Marechal Floriano Peixoto"
                              },
                              "location_number": {
                                "type": "string",
                                "example": "123"
                              },
                              "complement": {
                                "type": "string",
                                "example": "Ap 2"
                              },
                              "district": {
                                "type": "string",
                                "example": "Centro"
                              },
                              "city": {
                                "type": "string",
                                "example": "Nova Iguacu"
                              },
                              "state_abbr": {
                                "type": "string",
                                "example": "RJ"
                              },
                              "country_id": {
                                "type": "string",
                                "example": "BR"
                              },
                              "latitude": {},
                              "longitude": {},
                              "note": {
                                "type": "string",
                                "example": "ME Teste"
                              }
                            }
                          },
                          "service": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 2,
                                "default": 0
                              },
                              "name": {
                                "type": "string",
                                "example": "SEDEX"
                              },
                              "status": {
                                "type": "string",
                                "example": "available"
                              },
                              "type": {
                                "type": "string",
                                "example": "express"
                              },
                              "range": {
                                "type": "string",
                                "example": "interstate"
                              },
                              "restrictions": {
                                "type": "string",
                                "example": "{\"insurance_value\":{\"min\":0,\"max\":10000},\"formats\":{\"box\":{\"weight\":{\"min\":0.001,\"max\":30},\"width\":{\"min\":11,\"max\":105},\"height\":{\"min\":2,\"max\":105},\"length\":{\"min\":16,\"max\":105},\"sum\":200},\"roll\":{\"weight\":{\"min\":0.001,\"max\":30},\"diameter\":{\"min\":5,\"max\":91},\"length\":{\"min\":18,\"max\":105},\"sum\":200},\"letter\":{\"weight\":{\"min\":0.001,\"max\":0.5},\"width\":{\"min\":11,\"max\":60},\"length\":{\"min\":16,\"max\":60}}}}"
                              },
                              "requirements": {
                                "type": "string",
                                "example": "[\"names\",\"addresses\"]"
                              },
                              "optionals": {
                                "type": "string",
                                "example": "[\"AR\",\"MP\",\"VD\"]"
                              },
                              "company": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "example": 1,
                                    "default": 0
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Correios"
                                  },
                                  "status": {
                                    "type": "string",
                                    "example": "available"
                                  },
                                  "picture": {
                                    "type": "string",
                                    "example": "/images/shipping-companies/correios.png"
                                  },
                                  "use_own_contract": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  }
                                }
                              }
                            }
                          },
                          "agency": {},
                          "invoice": {
                            "type": "object",
                            "properties": {
                              "model": {},
                              "number": {},
                              "serie": {
                                "type": "string",
                                "example": "1"
                              },
                              "key": {},
                              "value": {},
                              "cfop": {},
                              "issued_at": {},
                              "uploaded_at": {},
                              "to_document": {}
                            }
                          },
                          "tags": {
                            "type": "array"
                          },
                          "products": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "example": "Papel adesivo para etiquetas 1"
                                },
                                "quantity": {
                                  "type": "integer",
                                  "example": 3,
                                  "default": 0
                                },
                                "unitary_value": {
                                  "type": "integer",
                                  "example": 100,
                                  "default": 0
                                },
                                "weight": {}
                              }
                            }
                          },
                          "generated_key": {},
                          "volumes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "example": 101604,
                                  "default": 0
                                },
                                "height": {
                                  "type": "string",
                                  "example": "10.00"
                                },
                                "width": {
                                  "type": "string",
                                  "example": "15.00"
                                },
                                "length": {
                                  "type": "string",
                                  "example": "20.00"
                                },
                                "diameter": {
                                  "type": "string",
                                  "example": "0.00"
                                },
                                "weight": {
                                  "type": "string",
                                  "example": "3.50"
                                },
                                "format": {
                                  "type": "string",
                                  "example": "box"
                                },
                                "created_at": {
                                  "type": "string",
                                  "example": "2022-03-29 13:17:46"
                                },
                                "updated_at": {
                                  "type": "string",
                                  "example": "2022-03-29 13:17:46"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "first_page_url": {
                      "type": "string",
                      "example": "https://sandbox.melhorenvio.com.br/api/v2/me/cart?page=1"
                    },
                    "from": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "last_page": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "last_page_url": {
                      "type": "string",
                      "example": "https://sandbox.melhorenvio.com.br/api/v2/me/cart?page=1"
                    },
                    "next_page_url": {},
                    "path": {
                      "type": "string",
                      "example": "https://sandbox.melhorenvio.com.br/api/v2/me/cart"
                    },
                    "per_page": {
                      "type": "integer",
                      "example": 10,
                      "default": 0
                    },
                    "prev_page_url": {},
                    "to": {
                      "type": "integer",
                      "example": 3,
                      "default": 0
                    },
                    "total": {
                      "type": "integer",
                      "example": 3,
                      "default": 0
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"message\": \"Unauthenticated.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthenticated."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/me/cart/{orderID}": {
      "get": {
        "summary": "Exibir informações de item do carrinho",
        "description": "Carrinho de Compras",
        "operationId": "exibir-informacoes-de-item-do-carrinho",
        "parameters": [
          {
            "name": "orderID",
            "in": "path",
            "description": "ID do Pedido",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer token"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "description": "É obritatório que seja adicionado o cabeçalho HTTP User-Agent com o nome da sua aplicação junto a um email de contato/suporte.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Aplicação (email para contato técnico)"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"id\": \"c7e6f6a1-88a2-4b76-95e1-eb9f344f2885\",\n  \"protocol\": \"ORD-20220397320\",\n  \"service_id\": 3,\n  \"agency_id\": 49,\n  \"contract\": null,\n  \"service_code\": null,\n  \"quote\": 25.35,\n  \"price\": 25.35,\n  \"coupon\": null,\n  \"discount\": 5.71,\n  \"delivery_min\": 5,\n  \"delivery_max\": 6,\n  \"status\": \"pending\",\n  \"reminder\": null,\n  \"insurance_value\": 50,\n  \"weight\": null,\n  \"width\": null,\n  \"height\": null,\n  \"length\": null,\n  \"diameter\": null,\n  \"format\": \"box\",\n  \"billed_weight\": 3.5,\n  \"receipt\": false,\n  \"own_hand\": false,\n  \"collect\": false,\n  \"collect_scheduled_at\": null,\n  \"reverse\": false,\n  \"non_commercial\": false,\n  \"authorization_code\": null,\n  \"tracking\": null,\n  \"self_tracking\": null,\n  \"delivery_receipt\": null,\n  \"additional_info\": null,\n  \"cte_key\": null,\n  \"paid_at\": null,\n  \"generated_at\": null,\n  \"posted_at\": null,\n  \"delivered_at\": null,\n  \"canceled_at\": null,\n  \"suspended_at\": null,\n  \"expired_at\": null,\n  \"created_at\": \"2022-03-29 14:17:08\",\n  \"updated_at\": \"2022-03-29 14:17:08\",\n  \"parse_pi_at\": null,\n  \"from\": {\n    \"name\": \"Teste Magento\",\n    \"phone\": \"5598105050\",\n    \"email\": \"melhorenvio@teste.com\",\n    \"document\": \"16571478358\",\n    \"company_document\": \"04517623000197\",\n    \"state_register\": \"563025255115\",\n    \"postal_code\": \"7110000\",\n    \"address\": \"Rua Teste\",\n    \"location_number\": \"100\",\n    \"complement\": \"CASA\",\n    \"district\": \"Bairro teste\",\n    \"city\": \"Guarulhos\",\n    \"state_abbr\": \"SP\",\n    \"country_id\": \"BR\",\n    \"latitude\": null,\n    \"longitude\": null,\n    \"note\": \"observação\"\n  },\n  \"to\": {\n    \"name\": \"Melhor Envio\",\n    \"phone\": \"1999999999\",\n    \"email\": \"melhorenvio@teste.com\",\n    \"document\": \"73646548010\",\n    \"company_document\": \"89794131000100\",\n    \"state_register\": \"123456\",\n    \"postal_code\": \"26210000\",\n    \"address\": \"Avenida Marechal Floriano Peixoto\",\n    \"location_number\": \"123\",\n    \"complement\": \"ap 2\",\n    \"district\": \"Centro\",\n    \"city\": \"Nova Iguacu\",\n    \"state_abbr\": \"RJ\",\n    \"country_id\": \"BR\",\n    \"latitude\": null,\n    \"longitude\": null,\n    \"note\": \"Observação\"\n  },\n  \"service\": {\n    \"id\": 3,\n    \"name\": \".Package\",\n    \"status\": \"available\",\n    \"type\": \"normal\",\n    \"range\": \"interstate\",\n    \"restrictions\": \"{\\\"insurance_value\\\":{\\\"min\\\":0,\\\"max\\\":29900},\\\"formats\\\":{\\\"box\\\":{\\\"weight\\\":{\\\"min\\\":0.001,\\\"max\\\":120},\\\"width\\\":{\\\"min\\\":1,\\\"max\\\":105},\\\"height\\\":{\\\"min\\\":1,\\\"max\\\":100},\\\"length\\\":{\\\"min\\\":1,\\\"max\\\":181},\\\"sum\\\":386}}}\",\n    \"requirements\": \"[\\\"names\\\",\\\"phones\\\",\\\"addresses\\\",\\\"documents\\\",\\\"invoice\\\"]\",\n    \"optionals\": \"[\\\"AR\\\",\\\"VD\\\"]\",\n    \"company\": {\n      \"id\": 2,\n      \"name\": \"Jadlog\",\n      \"status\": \"available\",\n      \"picture\": \"/images/shipping-companies/jadlog.png\",\n      \"use_own_contract\": false\n    }\n  },\n  \"agency\": {\n    \"id\": 49,\n    \"company_id\": 2,\n    \"name\": \"CO MIRASSOL 01 \",\n    \"initials\": \"CO-MSL-01\",\n    \"code\": \"1008588\",\n    \"status\": \"available\",\n    \"company_name\": \"RODOZELLI EXPRESS LTDA ME\",\n    \"email\": \"bozelli.msl@jadlog.com.br\",\n    \"note\": null,\n    \"created_at\": \"2017-09-11 17:47:14\",\n    \"updated_at\": \"2018-03-12 23:48:11\",\n    \"address\": {\n      \"id\": 49,\n      \"label\": \"Agência JadLog\",\n      \"postal_code\": \"15130000\",\n      \"address\": \"Rua Frei Antonio Zimmermann 2020\",\n      \"number\": null,\n      \"complement\": null,\n      \"district\": \"Jardim Alvorada\",\n      \"latitude\": -20.8201453,\n      \"longitude\": -49.4951883,\n      \"confirmed_at\": null,\n      \"created_at\": \"2017-09-11 17:47:14\",\n      \"updated_at\": \"2017-10-19 16:47:34\",\n      \"city\": {\n        \"id\": 5047,\n        \"city\": \"Mirassol\",\n        \"state\": {\n          \"id\": 25,\n          \"state\": \"São Paulo\",\n          \"state_abbr\": \"SP\",\n          \"country\": {\n            \"id\": \"BR\",\n            \"country\": \"Brazil\"\n          }\n        }\n      }\n    },\n    \"phone\": {\n      \"id\": 49,\n      \"label\": \"Agência JadLog\",\n      \"phone\": \"1732532042\",\n      \"type\": \"fixed\",\n      \"country_id\": \"BR\",\n      \"confirmed_at\": null,\n      \"created_at\": \"2017-09-11 17:47:14\",\n      \"updated_at\": \"2017-09-11 17:47:14\"\n    }\n  },\n  \"invoice\": {\n    \"model\": \"55\",\n    \"number\": \"9248\",\n    \"se
[...]
